/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

.venv/

data/
build/
cmake-build-debug/
CMakeUserPresets.json
CMakeFiles
profile_logs/
.venv
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.out

*.log
*.tmp

*.swp
*.swo
*.swn